.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 1140px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    padding-bottom: 10px;
  
  }

.row {
  display:grid;
  grid-gap:20px;
  grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
}